<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550323251580-gv262p6ujhl4gcmqef7ffkqlvna4g1pm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550323251580-gv262p6ujhl4gcmqef7ffkqlvna4g1pm</string>
	<key>API_KEY</key>
	<string>AIzaSyBslmfJjlOYn9L5fN8qrKXHD-rZHdC7N1I</string>
	<key>GCM_SENDER_ID</key>
	<string>550323251580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Myhome.Manual.Development-practice</string>
	<key>PROJECT_ID</key>
	<string>my-home-manual</string>
	<key>STORAGE_BUCKET</key>
	<string>my-home-manual.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550323251580:ios:cb1de9bb8e192740b45cf9</string>
</dict>
</plist>